/node_modules
/public/build
/public/files
/public/hot
/public/storage
/public/temp
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock

package-lock.json
.vscode/settings.json
.vscode/extensions.json
.DS_Store
